html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

table {
  border-spacing: 0; 
  border-collapse: collapse;
  height:75vh;
  width:75vh;
  table-layout: fixed;
  border-collapse: collapse;
}

th {
  text-align: center;
  font-size:xx-large;
}

th.b {
  background-color: darkcyan;
}

th.w {
  background-color:beige;
}

a {
  color: black;
  text-decoration: none;
}